header{
    background-size: 50px;
    background-repeat: repeat;
}

#builder-swapper{
    width: 80%;
    margin: auto;
    padding: 0;
    /*put in a auto aranging grid*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

#builder-swapper div{
    /**keep square */
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: #000;
}

#builder-swapper h2{
    font-family: 'MinecraftBold', 'MinecraftTen', 'MinecraftRegular', impact, sans-serif;
    font-size: 2em;
    text-align: center;
    height: 2em;
    /**center text */
    display: flex;
    justify-content: center;
    align-items: center;
}

#builder-swapper p{
    min-height: 2em;
    font-size: 1.5em;
    margin: auto;
    /**center text */
    display: flex;
    justify-content: center;
    align-items: center;
}


footer{
    background-image: url('../img/textures/bedrock1.png');
    background-size: 50px;
    background-repeat: repeat;

}